@font-face {
  font-family: 'Nexa Bold';
  src: url('~/assets/fonts/nexa/NexaBold.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Nexa Light';
  src: url('~/assets/fonts/nexa/NexaLight.ttf');
  font-style: normal;
  font-weight: 300;
}
